<!DOCTYPE html>
<html lang="en">
<head>
    {% include './app-meta.html' %}
    <!-- critical css -->
    {% include './critical.html' %}

    <script src="/assets/js/vendor/loadcss.js"></script>
    <script> loadCSS('/build/bundeld.css'); </script>
    <noscript>
        <link rel="stylesheet" href="/build/bundeld.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </noscript>

    <!-- non blocking js -->
    <!-- async fonts -->
    <script src="/assets/js/vendor/fontfaceobserver.js" charset="utf-8" defer></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous" defer></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" defer></script>

    <script src="/build/bundeld.js" defer></script>


    {% block head_extra %}{% endblock %}
</head>

<body {% block body_attributes %}{% endblock %}>


    {% block body %}{% endblock %}


    {% block scripts_extra %}{% endblock %}
</body>
</html>
